*{
    box-sizing: border-box;
}
  
  body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 2%;
  }
  
  .header {
    padding: 10px;
    text-align: center;
    background:#b0b0b0;
    color: white;
  }

  .left {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    float: right;
}
  
  .header h1 {
    font-size: 40px;
  }
  
  .navbar {
    overflow: hidden;
    background-color:#358085;
  }
  
  
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  .navbar a.right {
    float: right;
  }
  
  .navbar a:hover {
    background-color: #ddd;
    color: rgb(12, 198, 170);
  }
  
  .row {  
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

  }
  
  .side {
    -ms-flex: 30%; 
    flex: 30%;
    background-color: #b0b0b0;
    padding: 20px;
  }
  
  .main {   
    /*-ms-flex: 70%;
    flex: 70%;
    background-color: #b0b0b0;
    padding: 15px;
    text-align:start;
    */

    
    -ms-flex: 10%;
      flex: 10%;
      background-color: #b0b0b0;
      padding: 15px;
     
     
  
  }
    
  .footer {
    padding: 20px;
    font-size: medium;
    text-align: left;
    background: #358085;
    color: white;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
  }

  h2 {
      color:#358085;
      font-size: 30px;
      text-shadow: 1px 1px 0px #484848;
  }

  p {
      color: white;
      font-size: 20px;
  }

  ul {
      color: white;
      font-size: 20px;
      

  }
  #locator {
    position:absolute;
    visibility: visible;
    left:700px;
  
    top: 500px;
    z-index: 200;
    height: 100px;
  }
  .figure {
    float: right;
    margin-right: 100px;
    margin-top: 105px;
  }


  