*{
    box-sizing: border-box;
}
  
  body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 2%;
   }
  
  .header {
    padding: 10px;
    text-align: center;
    background:#b0b0b0;
    color: rgb(255, 255, 255);
  }

  .left {
    display: block;
    margin-left: 20px;
    margin-right: auto;
    width: 500px;
    float:right;
}
  
  .header h1 {
    font-size: 40px;
  }
  
  .navbar {
    overflow: hidden;
    background-color:#358085;
  }
  
  
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  .navbar a.right {
    float: right;
  }
  
  .navbar a:hover {
    background-color: rgb(79, 78, 78);
    color: rgb(4, 179, 153);
  }
  
  .row {  
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .side {
    -ms-flex: 30%; 
    flex: 30%;
    background-color: #b0b0b0;
    padding: 20px;
  }
  
  .main {   
    -ms-flex: 10%;
    flex: 10%;
    background-color: #b0b0b0;
    padding: 15px;
  }

  blockquote {
    color: white;
  }
    
  .footer {
    padding: 20px;
    font-size: medium;
    text-align: left;
    background: #358085;
    color: white;
  }

  h2 {
      color:#358085;
      font-size: 30px;
  }

  p {
    padding-top: 10px;
      color: white;
      font-size: 20px
  }

  ul {
      color: white;
      font-size: 20px;
  }

  figure {
    float: right;
    color: white;
  }

  